@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="columns large-12">
        <img class="panel" data-interchange="[../Images/banner-small.png, (small)], [../Images/banner-large.png,(large)]" />
    </div>
</div>

<div class="row">
    <div class="columns large-6">
        <div class="panel">All Brands</div>
    </div>
    <div class="columns large-6">
        <div class="panel">All Devices</div>
    </div>
</div>

<div class="row">
    <div class="columns large-12">
        <h5>Apple - iPhone</h5>
        <h6 class="subheader">Display</h6>
        <ul class="disc">
            <li>iPhone 6 Plus</li>
            <li>iPhone 6</li>
            <li>iPhone 5s</li>
            <li>iPhone 5</li>
            <li>iPhone 5c</li>
            <li>iPhone 4s</li>
            <li>iPhone 4</li>
        </ul>
    </div>
</div>