@{
    ViewBag.Title = "Index";
}
@*<div class="row">
    <div class="columns large-12">
        <img class="panel" data-interchange="[../Images/banner-small.png, (small)], [../Images/banner-large.png,(large)]" />
    </div>
</div>*@

<div class="row">
    <div class="columns small-12 large-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</div>

@*<div class="row">
    <div class="columns large-6">
        <div class="panel">All brands</div>
    </div>
    <div class="columns large-6">
        <div class="panel">All device categories</div>
    </div>
</div>*@

<div class="row">
    <div class="columns small-12 large-12">
        <h3>Apple</h3>
        <ul class="small-block-grid-1 large-block-grid-4">
            <li>
                <h5 class="subheader">iPhone</h5>
                <ul class="disc">
                    <li>iPhone 6s Plus</li>
                    <li>iPhone 6s</li>
                    <li>iPhone 6 Plus</li>
                    <li>iPhone 6</li>
                    <li>iPhone 5s</li>
                    <li>iPhone 5</li>
                    <li>iPhone 5c</li>
                    <li>iPhone 4s</li>
                    <li>iPhone 4</li>
                </ul>
            </li>

            <li>
                <h5 class="subheader">iPad</h5>
                <ul class="disc">
                    <li>iPad Pro</li>
                    <li>iPad Air 2</li>
                    <li>iPad Air</li>
                    <li>iPad 4</li>
                    <li>iPad 3</li>
                    <li>iPad 2</li>
                    <li>iPad 1</li>
                </ul>
            </li>

            <li>
                <h5 class="subheader">iPad Mini</h5>
                <ul class="disc">
                    <li>iPad Mini 4</li>
                    <li>iPad Mini 3</li>
                    <li>iPad Mini 2</li>
                    <li>iPad Mini 1</li>
                </ul>
            </li>

            <li>
                <h5 class="subheader">iPod</h5>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="columns small-12 large-12">
        <h3>Samsung</h3>
        <ul class="small-block-grid-1 large-block-grid-4">
            <li>
                <h5 class="subheader">Galaxy Note</h5>
                <ul class="disc">
                    <li>Note 5 Edge+</li>
                    <li>Note 5</li>
                    <li>Note 4</li>
                    <li>Note 3</li>
                    <li>Note 2</li>
                </ul>
            </li>

            <li>
                <h5 class="subheader">Galaxy S</h5>
                <ul class="disc">
                    <li>S6 Edge</li>
                    <li>S6</li>
                    <li>S5</li>
                    <li>S4</li>
                    <li>S3</li>
                    <li>S2</li>
                </ul>
            </li>

            <li>
                <h5 class="subheader">Galaxy A</h5>
                <ul class="disc">
                    <li>A7</li>
                    <li>A5</li>
                </ul>
            </li>

            <li>
                <h5 class="subheader">Galaxy E</h5>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="columns small-12 large-12">
        <hr />
        <p>Company Name</p>
    </div>
</div>
