<div class="row">
    <div class="columns large-6 small-6">
        <div class="panel">Logo</div>
    </div>
    <div class="columns large-6 small-6">
        <div class="panel">Contact</div>
    </div>
</div>
